body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #df6d02, #000000); 
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinha ao topo */
    align-items: center;
    height: 100vh;
}

.titulo {
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 20px; 
}

#meio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    position: relative; 
    overflow: hidden; 
}
.opcoes{
    display: flex;
    flex-direction: column;
    align-items:center;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.esquerda{
    display: flex;
    flex-direction: column;
    align-items:center;
    z-index: 2; 
}
.direita{
    display: flex;
    flex-direction: column;
    align-items:center;
    z-index: 2; 
}
#background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
    z-index: 1; 
}
#imagem {
    border: 2px solid #333;
    padding: 1px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 175px;
    width: 175px;
    margin-left: 10px; 
}

#imagem:hover {
    transform: scale(1.1);
}

#total {
    border: 2px solid #333;
    padding: 10px;
    font-size: 40px;
    background-color: #fff;
    margin-top: 20px;
    text-align: center;
    border-radius: 5px;  
}

#upgrade1, #botaoreset, #upgrade1max,#upgrade2max, #botaoCPS {
    cursor: pointer;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 3;
}

#upgrade1:hover, #botaoreset:hover, #upgrade1max:hover,#upgrade2max:hover,#resetall:hover, #botaoCPS:hover ,#span:hover {
    background-color: #32e23b;
}

#labelUpgrade, #labelreset,#labelresetall,#labelCPS,#labelfusão{
    border: 2px solid #333;
    margin: 10px;
    color: #000000;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    text-align: left;  
    z-index: 3;
}

#boss {
    border: 2px solid #333;
    padding: 1px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 175px;
    width: 175px;
}

#boss:hover {
    transform: scale(1.1);
}

.barra-de-vida {
    width: 175px;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px; 
}

.vida {
    height: 100%;
    background-color: red;
    width: 100%; 
    transition: width 0.3s ease-in-out;
}

.horizontal-align {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#fusion {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#fusion img {
    transition: transform 0.3s ease;
}

#fusion:hover {
    background-color: #3cce43;
}

#fusion img:hover {
    transform: scale(1.1);
}
#fusion {
    border: 2px solid #333;
    padding: 1px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 175px;
    width: 175px;
    margin-left: 10px; 
}
#vegeta{
    border: 2px solid #333;
    padding: 1px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: 160px;
    width: 160px;
    margin-left: 10px;
}
#fusão {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
}

#fusão img {
    transition: transform 0.3s ease;
    max-width: 100%;
    height: auto;
}

#fusão:hover {
    background-color: #3cce43;
}

#fusão img:hover {
    transform: scale(1.1);
}
