*{
    background-color: white;
}
#imagem{
    border: 2px solid #000;
    padding: 1px;
    cursor: pointer;
}
#total{
    border: 2px solid #000;
    padding: 10px;
    margin-left: 40px;
    font-size: 40px;
    display: inline-block;
    background-color: red;
}
#upgrade1{
    cursor: pointer;
}
label{
    margin-top: 200px;
    margin-left: 900px;
    color: red;
    background-color:bisque;
}
